body {
    background: #1F1b24;
}

h1, h2, p, li {
    color: #fff;
    line-height: 2rem;
}

.socials{
    color: #aaa;
    transition: color 0.2s;
}

ul .socials {
    color: #838C95;
}

.socials li {
    display: inline-block;
    margin: 0 15px;
    padding: 0;
    text-decoration: none;
}

.socials li a {
    color: #fff;
}

.socials li a:hover {
    color: #11ABB0;
}
