@page "/"

<PageTitle>Index</PageTitle>

<h1>First Blazor Application</h1>

Welcome to my first Blazor Application hosted on Azure Web Apps. 


<h2>About This Project</h2>

<p>The purpose of this project was to create a web assembly blazor project and host it on Azure. The project displays a list of hyper cars which is stored in memory. 
    The plan is to keep improving on this project.</p>

<h2>Future Improvements</h2>

<li>&bull; Move In Memory Data To CosmosDB</li>
<li>&bull; Use Azure Function Create a REST API to Call From Cosmos DB</li>
<li>&bull; Add More Features To The Application</li>

<h2>CI/CD Pipeline</h2>

<p>Using Github Actions To Create Workflow.</p>
