@page "/"

<PageTitle>Home Page</PageTitle>

<h1>First Blazor Application</h1>

<p>Welcome to my first Blazor Application hosted on Azure Web Apps.</p>


<h3>About This Project</h3>

<p>The purpose of this project was to create a web assembly blazor project and host it on Azure. The project displays a list of hyper cars which is stored in memory. 
    The plan is to keep improving on this project.</p>


<h3>Future Improvements</h3>

<li>Move In Memory Data To CosmosDB</li>
<li>Use Azure Function Create a REST API to Call From Cosmos DB</li>
<li>Add More Features To The Application</li>

<br />

<h3>CI/CD Pipeline</h3>


<p>Using Github Actions To Create Workflow.</p>

<h3>Socials</h3>

<ul class="socials">
    <li><a href="https://www.linkedin.com/in/harisalsheikh/" target="_blank">
        <ion-icon name="logo-linkedin"></ion-icon>
    </a>
    </li>

    <li><a href="https://github.com/harisalsheikh" target="_blank">
        <ion-icon name="logo-github"></ion-icon>
        </a>
    </li>
</ul>